<%- include('tete'); -%>
<style>
  .user-profile-image {
   width: 100px;
   height: 100px;
   margin-bottom: 10px;
}
.rounded-circle {
   border-radius: 50% !important;
}
#page:hover
{
  background: #fff;
}
@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}
</style>
<%- include('header'); -%>
<div class="container">
  <div style="background-color: #fff;" class="row   hidden-md hidden-lg">
       <div class="col-lg-12 col-sm-12">
         <div class="dropdown  pull-left"> 
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#"> <img src="/assets/page/image/avatar.png" class="user-profile-image rounded-circle" alt="" /><b class="caret"></b></a>
            <ul style="margin-top: 160px;" class="dropdown-menu">
              <div style="background: #fff; padding: 15px;" class="col-md-7 col-lg-3 ">
                       <div class="card card-white">
                           <div class="text-center card-body user-profile-card">
                               <p class="text-center m-t-lg">Nom au complet</p>
                               <h4 class="text-center"><%= nom %></h4>
                               <hr>
                               <ul class="list-unstyled text-center">
                                  <li>
                                      <p><i class="text-center"></i>Matricule</p>
                                  </li>
                                  <li>
                                      <h4><%= matricule %></h4>
                                  </li>
                                  <li>
                                    <p><i class="text-center"></i>Departement</p>
                                </li>
                                <li>
                                    <h4><%= departe %></h4>
                                </li>
                                  <li>
                                      <p><i class="text-center"></i>Classe</p>
                                  </li>
                                  <li>
                                      <h4><%= classe %></h4>
                                  </li>
                               </ul>
                               <hr>
                              <a href="/forum/modifier"><button style="width: 100%; height: auto;  border-color: #fff; font-size: 20px;" class=" btn btn-primary">Modifier profil</button></a> 
                               <hr>
                               <a href="/forum/deconnection"><button  style="width: 100%; height: auto;  border-color: #fff; font-size: 20px;" class=" btn btn-primary">Deconnecter</button></a></div>
                       </div>
                   </div>
            </ul>
           </div>
       </div>
   </div>   
</div>
<div class="py-5" style="	background-image: url(/assets/page/image/cta2-background.jpg);	background-position: top left;	height: 400px;	background-repeat: no-repeat;">
    <div class="container">
      <div class="row">
        <div class="px-md-5 p-3 col-md-12 d-flex flex-column justify-content-center">
          <h1 class="text-light">ESPACE DE DISCUTION</h1>
          <p class="mb-3 lead text-light">Ici c'est le forum de discution </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">  
    <!-- debut du formulaire -->
    <div class="row">
             <div style="background: #fff; padding: 25px;" class="col-md-3 hidden-xs col-lg-3">
                        <div class="card card-white">
                            <div class="card-heading clearfix">
                                <h4 class="text-center card-title">Profile d'utilisateur</h4>
                            </div>
                            <div class="text-center card-body user-profile-card">
                              <img src="/assets/page/image/avatar.png" class="user-profile-image rounded-circle" alt="" />
                                <p class="text-center m-t-lg">Nom au complet</p>
                                <h4 class="text-center"><%= nom %></h4>
                                <hr>
                                <ul class="list-unstyled text-center">
                                 <li>
                                   <p><i class="text-center"></i>Matricule</p>
                               </li>
                               <li>
                                   <h4><%= matricule %></h4>
                               </li>
                               <li>
                                   <p><i class="text-center"></i>Classe</p>
                               </li>
                               <li>
                                  <%= classe %></h4>
                               </li>
                                </ul>
                                <hr>
                                <a href="/forum/modifier"><button style="width: 100%; height: auto;  border-color: #fff; font-size: 20px;" class=" btn btn-primary">Modifier profil</button></a>
                                <hr>
                                <a href="/forum/deconnection"><button style="width: 100%; height: auto;  border-color: #fff; font-size: 20px;" class=" btn btn-primary">Deconnecter</button></a></div>
                        </div>
                    </div>
           <div class="col-lg-offset-1 col-md-offset-1 col-sm-8 col-md-8 col-lg-8">
          <div class="row">
          <div style="background: #fff; padding: 25px;" class="col-lg-12">
            <h3 style="color:  #333;">Question</h3>
          </div>

           <div id="pagination" style="background:  #333; color: #fff; padding: 25px; margin-top: 20px;" class="col-md-12 mb">
            <div class="message-p pn">
              <div class="row">
                <div class="col-md-2 centered ">
                  <img src="/assets/page/image/avatar.png" class="user-profile-image rounded-circle" alt="" />
                </div>
                <div class="col-md-10">
                  <p style="color:  #12bbad;">
                    <name><%= question['pseudo'] %></name>
                    
                  </p>
                  <p id="dateposeur" style=" color:#12bbad;" class="small"><%= question['date'] %> </p>
                  <p style="color: #fff; font-weight: 900;" class="message"><%= question['question'] %></p>
                </div>
              </div>
            </div>
            <!-- /Message Panel-->
          </div>
          
            <h3 style="text-align: center; margin-top: 20px;">
            
             <%= lesreponse.length %>  Reponse</h3>

             <% for(var i= lesreponse.length -1 ; i >= 0; i--)  {%>
           <div id="pagination" style="background: #12bbad; color: #fff; padding: 25px; margin-top: 20px;" class="col-md-12 mb">
            <div class="message-p pn">
              <div class="row">
                <div class="col-md-2 centered ">
                  <img src="/assets/page/image/avatar.png" class="user-profile-image rounded-circle" alt="" /> 
                </div>
                <div class="col-md-10">
                  <p>
                    <name><%= lesreponse[i]['pseudo'] %></name>        
                  </p>
                  <p id="date" class="small"><%= lesreponse[i]['date'] %></p>
                  <p style="color: #fff; font-weight: 900;" class="message"><%= lesreponse[i]['reponse'] %></p>
                </div>
              </div>
            </div>
            <!-- /Message Panel-->
          </div>
          <% } %>
                 

         <hr>
        <hr>
       
          <div style="background: #fff; padding: 25px; margin-top: 20px;" class=" col-lg-12">
            <form  action="/espacerepondrediscution" method="POST">
              <div class="form-group row">
                <label for="rep" class="col-lg-12 input-lg col-form-label">Repondre</label>
                <div class="col-lg-12">
                  <textarea id="msg" style="width: 100%; " rows="6" class="col-lg-12 input-lg col-form-label" name="message" ></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-12 ">
                  <button style="width: 100%; background-color: #12bbad; border-color: #fff; font-size: 20px;" type="submit" name="creer" id="submit" class=" btn btn-primary">Repondre</button>
                </div>
              </div>

            </form>
          </div>

        </div>
    </div>
        
    </div>
</div>

  <%- include('footer'); -%>
  <script src="/assets/page/js/moment.js"></script>
<script src="/assets/page/js/moment-with-locales.js"></script>
<script>
  var ta = moment('24/12/2019 09:15:00', "DD MM YYYY hh:mm:ss").fromNow()
  var date = document.querySelectorAll('#date')
  var dateposeur = document.querySelector('#dateposeur')
  moment.locale('fr')
  var h = moment(dateposeur.textContent).fromNow();
  dateposeur.innerHTML = h;
  var element = '';
  for (var  i = 0; i< date.length; i++) {
   element = date[i].textContent;
  var datation = moment(element).fromNow();
  date[i].innerHTML = datation;
      }
  
</script>
</body>

</html>